/* index.css or App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* Optional: Add modern typography */
  /* background: linear-gradient(to bottom, #0a192f, #162447); */
  /* background: linear-gradient(to bottom, #0a192f, #004aad); */
  /* background: radial-gradient(circle at top, #00c6ff, #0072ff, #0a192f);
  background: radial-gradient(circle at top, #ff7e5f, #feb47b, #f4f4f4);
  background: radial-gradient(circle at top, #6a11cb, #2575fc);
  background: radial-gradient(circle at top, #ff416c, #ff4b2b); */
  background: radial-gradient(circle at top, #fbc2eb, #a6c1ee);
  /* color: white; Ensures text is readable */
  min-height: 100vh;
}
